<%- include('includes/head') %>
<%- include('includes/nav') %>

<div>

</div>

<form action="#" method="post">
<div class="imc">
    <h1>Cadastre seus dados</h1>
    <label> Peso </label>
    <input type="text" name="">


    <label>altura</label>
    <input type="text" name="">


    <button type="submit">Calcular</button>
    <p>mostrar resultado aqui</p>
</form>
</div>




<%- include('includes/footer') %>